<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Order List</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container my-2">
    <h1>Order List</h1>

    <table border="1" class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=orderId&sortDir=' + ${reverseSortDir}}">
                    orderId</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=carId&sortDir=' + ${reverseSortDir}}">
                    carId</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=createTime&sortDir=' + ${reverseSortDir}}">
                    createTime</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=endTime&sortDir=' + ${reverseSortDir}}">
                    endTime</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${reverseSortDir}}">
                    status</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=userId&sortDir=' + ${reverseSortDir}}">
                    userId</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${listOrders}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${order.carId}"></td>
            <td th:text="${order.createTime}"></td>
            <td th:text="${order.endTime}"></td>
            <td th:text="${order.status}"></td>
            <td th:text="${order.userId}"></td>
            <td>
<!--                <a th:href="@{/showFormForUpdate/{id}(id=${car.carId})}" class="btn btn-primary">Rent</a>-->
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
    <a th:href = "@{/}"> Back to Index </a>
</div>
</body>
</html>