<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Return Car Form</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Return Car Form</h1>
    <hr>

    <form action="#" th:action="@{/api/v1/returnCar}"
          method="POST">

        <input type="text" name="orderId"
               placeholder="input orderId" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Try to return car</button>
    </form>

    <hr>
    <a th:href = "@{/}"> Back to Index </a>

</div>
</body>
</html>